USE [master]
GO
/****** Object:  Database [whatsinmycity]    Script Date: 8/24/2026 10:08:02 AM ******/
CREATE DATABASE [whatsinmycity]
 CONTAINMENT = NONE
WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [whatsinmycity].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [whatsinmycity]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 8/24/2026 10:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[Booking_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Attraction_ID] [int] NOT NULL,
	[Transport_ID] [int] NOT NULL,
	[Booking_Date] [date] NOT NULL,
	[Booking_Status] [varchar](15) NOT NULL,
	[Number_Of_People] [int] NOT NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[Booking_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Government_Document]    Script Date: 8/24/2026 10:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Government_Document](
	[Government_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Passport_Copy] [nchar](25) NOT NULL,
	[ID_Copy] [varchar](255) NOT NULL,
	[Visa_Details] [varchar](100) NOT NULL,
	[OCR_Verification_Status] [varchar](20) NOT NULL,
	[Expiry_Date] [date] NOT NULL,
	[Passport_Number] [varbinary](20) NOT NULL,
	[ID_Number] [varchar](13) NULL,
 CONSTRAINT [PK_Government_Document] PRIMARY KEY CLUSTERED 
(
	[Government_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 8/24/2026 10:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Payment_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[Card_Number] [varchar](19) NOT NULL,
	[Card_Type] [varchar](15) NOT NULL,
	[Billing_Address] [varchar](50) NOT NULL,
	[Payment_Status] [varchar](15) NOT NULL,
	[Payment_Amount] [money] NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[Payment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recommendation]    Script Date: 8/24/2026 10:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recommendation](
	[Recommendation_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Attraction_ID] [int] NOT NULL,
	[Price_Range] [money] NOT NULL,
	[Safety_Level] [varchar](20) NOT NULL,
	[User_Rating] [int] NOT NULL,
 CONSTRAINT [PK_Recommendation] PRIMARY KEY CLUSTERED 
(
	[Recommendation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tourist_Attraction]    Script Date: 8/24/2026 10:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tourist_Attraction](
	[Attraction_ID] [int] IDENTITY(1,1) NOT NULL,
	[Attraction_Name] [varchar](50) NOT NULL,
	[Location] [nchar](35) NOT NULL,
	[Price] [money] NOT NULL,
	[Operating_Hours] [time](7) NOT NULL,
	[Safety_Rating] [int] NOT NULL,
 CONSTRAINT [PK_Tourist_Attraction] PRIMARY KEY CLUSTERED 
(
	[Attraction_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transport_Service]    Script Date: 8/24/2026 10:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transport_Service](
	[Transport_ID] [int] IDENTITY(1,1) NOT NULL,
	[Attraction_ID] [int] NOT NULL,
	[Transport_Type] [varchar](30) NOT NULL,
	[Route] [varchar](100) NOT NULL,
	[Ticket_Price] [money] NOT NULL,
	[Availability] [varchar](20) NOT NULL,
	[Schedule] [datetime] NOT NULL,
 CONSTRAINT [PK_Transport_Service] PRIMARY KEY CLUSTERED 
(
	[Transport_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Travel_Pass]    Script Date: 8/24/2026 10:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Travel_Pass](
	[Travel_Pass_Id] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Pass_Type] [varchar](35) NOT NULL,
	[QR_Code] [varchar](15) NOT NULL,
	[Expiry_Date] [date] NOT NULL,
 CONSTRAINT [PK_Travel_Pass] PRIMARY KEY CLUSTERED 
(
	[Travel_Pass_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 8/24/2026 10:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[Full_Name] [varchar](35) NOT NULL,
	[Email_Address] [varchar](35) NOT NULL,
	[Phone_Number] [char](10) NOT NULL,
	[Password] [varchar](12) NOT NULL,
 CONSTRAINT [PK_UserAccount] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Tourist_Attraction] FOREIGN KEY([Attraction_ID])
REFERENCES [dbo].[Tourist_Attraction] ([Attraction_ID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Tourist_Attraction]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Transport_Service] FOREIGN KEY([Transport_ID])
REFERENCES [dbo].[Transport_Service] ([Transport_ID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Transport_Service]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_UserAccount] FOREIGN KEY([User_ID])
REFERENCES [dbo].[UserAccount] ([User_ID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_UserAccount]
GO
ALTER TABLE [dbo].[Government_Document]  WITH CHECK ADD  CONSTRAINT [FK_Government_Document_UserAccount] FOREIGN KEY([User_ID])
REFERENCES [dbo].[UserAccount] ([User_ID])
GO
ALTER TABLE [dbo].[Government_Document] CHECK CONSTRAINT [FK_Government_Document_UserAccount]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_UserAccount] FOREIGN KEY([User_Id])
REFERENCES [dbo].[UserAccount] ([User_ID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_UserAccount]
GO
ALTER TABLE [dbo].[Recommendation]  WITH CHECK ADD  CONSTRAINT [FK_Recommendation_Tourist_Attraction] FOREIGN KEY([Attraction_ID])
REFERENCES [dbo].[Tourist_Attraction] ([Attraction_ID])
GO
ALTER TABLE [dbo].[Recommendation] CHECK CONSTRAINT [FK_Recommendation_Tourist_Attraction]
GO
ALTER TABLE [dbo].[Recommendation]  WITH CHECK ADD  CONSTRAINT [FK_Recommendation_UserAccount] FOREIGN KEY([User_ID])
REFERENCES [dbo].[UserAccount] ([User_ID])
GO
ALTER TABLE [dbo].[Recommendation] CHECK CONSTRAINT [FK_Recommendation_UserAccount]
GO
ALTER TABLE [dbo].[Transport_Service]  WITH CHECK ADD  CONSTRAINT [FK_Transport_Service_Tourist_Attraction] FOREIGN KEY([Attraction_ID])
REFERENCES [dbo].[Tourist_Attraction] ([Attraction_ID])
GO
ALTER TABLE [dbo].[Transport_Service] CHECK CONSTRAINT [FK_Transport_Service_Tourist_Attraction]
GO
ALTER TABLE [dbo].[Travel_Pass]  WITH CHECK ADD  CONSTRAINT [FK_Travel_Pass_UserAccount] FOREIGN KEY([User_ID])
REFERENCES [dbo].[UserAccount] ([User_ID])
GO
ALTER TABLE [dbo].[Travel_Pass] CHECK CONSTRAINT [FK_Travel_Pass_UserAccount]
GO
USE [master]
GO
